* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url('../images/Background.png');
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-bottom: 150px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 32px;
    background-color: white;
}
.navbar img {
    margin-right: auto;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}
.navbar ul li {
    padding: 0px 30px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    transition: ease-out 200ms;
}
.navbar ul li:hover {
    font-size: 19px;
    color: rgb(10, 1, 133);
    margin-top: -2px;
}
.navbar-searchField {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 10px;
    margin-left: 45px;
    border-radius: 20px;
    border: 2px solid black;
    transition: ease-in-out 300ms;


}



.navbar-searchField input {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.navbar-searchField input:focus {
    outline: none;
}

/* three dot icon */
.fa-ellipsis-vertical {
    font-weight: 900;
    margin-left: 30px;
    margin-right: 35px;
    font-size: 30px;
}

.main {
    position: absolute;
    color: white;
}

.title{
    font-family: 'Montserrat', sans-serif;
    margin-left: 155px;
    margin-top: 160px;
    width: 360px;
}

.title h2 {
    color: #0adab9;
    font-size: 28px;

}

.title h1 {
    font-size: 60px;
}

.title p {
    margin-top: 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.title button {

    margin-top: 25px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px 30px;

}

.title button:hover {
    background-color: rgba(0, 0, 0, 0.312);
    border: 1px solid rgb(173, 188, 255);
    color: rgb(173, 188, 255);
    transition: ease-in-out 200ms;

}



.body-text {
    position: relative;
    margin-top: 158px;
    margin-left: 658px;
    color: white;
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: 600;
}
.personal-image{
    position: absolute;
    top: 170px;
    left: 800px;
    
}
.image{
    height: 85vh;
    width: auto;
}

.shapes {
    margin-top: 300px;
    margin-left: 135px;
    display: flex;
}

.shapes div {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    background-color: white;
    border: 10px solid white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    transition: ease-in-out 200ms;

}

.shapes div:hover {
    background-color: rgb(255, 255, 255);
    border: 12px solid rgb(255, 255, 255);
}



/* social icon */
.social-icon {
    float: right;
    margin-top: -50px;
}

.social-icon div {
    background-color: #0adab9;
    border: 8px solid #0adab9;
    border-radius: 50%;
    margin-bottom: 8px;
    margin-right: 28px;
    display: flex;
    justify-content: center;

}

.social-icon div:hover {
    border: 8px solid #07bb9d;
    transition: ease-in-out 200ms;
}